<div class="container">


<h1>Burger Time</h1>

<h2>Here's what we have to eat!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>


<h2>Make your own burger!</h2>
<form class="create-burger-form">
  <div class="burger-form">
    <label for="burger_name">Name your burger: </label>
    <input type="text" name="burger_name" id="burger_name" value="">
  </div>

  <button type="submit"><span class="add-burger-span" title="Submit your new burger!"><img src="/assets/img/svg/001-food-1.svg"></span></button>

</form>

<div class="undevour-div" title="Bring back all the burgers!"><p>Restore All Burgers!</p><img src="/assets/img/svg/002-food.svg" class="undevour-button"></div>

</div>



<footer> &copy; William Gryta 2018. Icons made by <a href="https://www.flaticon.com/authors/freepik">freepik</a> from www.flaticon.com. Background texture provided by <a href="https://lostandtaken.com/">L+T</a>.</footer>
